<div class="flex flex-col justify-center items-center p-12 gap-5">
    <h2 class="text-3xl font-normal bg-primary rounded-lg p-2" style="color: white;">{{ countryName }}</h2>
  
    <!-- Cards -->
    <div class="flex font-light gap-10 text-black">
      <app-card title="Number of entries" [value]="totalEntries"></app-card>
      <app-card title="Total number medals" [value]="totalMedals"></app-card>
      <app-card title="Total number of athletes" [value]="totalAthletes"></app-card>
    </div>
  
    <!-- Line Chart -->
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    [animations]="false"
  ></ngx-charts-line-chart>  

    <!-- Back button -->
    <button class="bg-primary rounded-lg p-2" style="color: white;" (click)="goBack()">Back</button>
</div>